# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.db
*.sqlite3
instance/

# Environment variables & secrets
.env

# Pytest & IDE
.pytest_cache/
.vscode/
.idea/
start_tunnel.py
